.title {
  display: flex;

  h2 {
    margin-bottom: 0;
  }

  button {
    margin-left: auto;
  }
}

.right-container {
  .title {
    h1 {
      padding-bottom: 1rem; 
    }    
  }
  .add-item {
    .mat-form-field {
      font-size: 18px !important;
    }
  }
}

.lo-dialog-box{
  h2{
    margin-bottom: 0;
  }

  .add-item{ 

    mat-form-field{
      width: 100%; 
  
      input{
        width: 100%;
      } 
 
    } 
  } 
}

 
 










