.title {
  display: flex;

  h2 {
    margin-bottom: 0;
  }

  button {
    margin-left: auto;
  }
}

.right-container {
  .title {
    h1 {
      padding-bottom: 1rem; 
    }    
  }
  .add-item {
    .mat-form-field {
      font-size: 18px !important;
    }
  }
}

.lo-dialog-box{
  h2{
    margin-bottom: 0;
  }

  .add-item{ 

    mat-form-field{
      width: 100%; 
  
      input{
        width: 100%;
      } 
 
    } 
  } 
}

.mat-list-base.lo-spec {
  padding-bottom: 1.5rem;
}

.action-panel-2 {
  margin-top: 1rem;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(0,0,0,.12);

  .mat-divider-horizontal {
    position: static; 
  }
  button {
    margin: 0 1.8rem;
    .mat-icon {
      color: white;
      padding-right: .2rem;
    }
  }
}

.close-btn{
  display: none;
}

.add-content{
  display: block;

  ::ng-deep mat-button-toggle.drop-down-button {
    border-left: 1px solid #666;
    margin-left: 10px;
  }

  .drop-down-button {
    .mat-icon { 
      vertical-align: middle;
      height: 27px;
    }
  
  }
  
}







 
.mat-menu-panel {
    width: 191px;
    min-height: auto;
    margin-top: 12px;
    margin-right: -17px;
 }

 mat-button-toggle {
  //color: white; 
}

.mat-button-toggle-checked {
  //color: white; 
}











