<div fxLayout="row" fxFlexFill fxLayoutAlign="start stretch">
    <div fxLayout="column" fxFlex="25" class="left-container">
        <h2>Learning outcomes</h2>
         
        <mat-form-field class="example-full-width">
            <mat-label>Search Learning outcomes</mat-label>
            <input matInput placeholder="">
        </mat-form-field>

        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option *ngFor="let lo of learningOutComes; let i = index" (click)="viewLearningOutcomes(i)">
                {{lo.lo_title}}
            </mat-list-option>
        </mat-selection-list>
        <!-- <p>
            Option selected: {{shoes.selectedOptions.selected[0]?.value}}
        </p> -->

    </div>
    <div fxFlex="75" class="right-container"> 

        <div fxLayout="row" fxLayoutAlign="fxFlexFill" class="action-panel border-active">
            <div fxFlex="75" fxLayoutAlign="start center">
                <h1 class="space-0">{{selected_LO.lo_title}}</h1>
            </div>
            <div fxFlex="25" fxLayoutAlign="end center" fxFlexOffset="20px">  
                <button mat-raised-button color="primary" (click)="openDialog()">Add learning content</button>               
                <!-- <mat-form-field appearance="fill">
                    <mat-label>Favorite food</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                </mat-form-field> -->
            </div>
        </div>


        <div fxLayout="row" fxLayoutAlign="fxFlexFill" class="body-content">
            <div fxLayout="column" fxFlex="50" fxLayoutAlign="start top">               

                <mat-toolbar color="primary"> 
                    <mat-toolbar-row >
                        <span><h3>Learning Content - {{selected_LO.learning_content.learning_content_duration}}</h3></span> 
                        <span class="example-spacer"></span>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                              <mat-icon>visibility</mat-icon>
                              <span>Preview</span>
                            </button>
                            <button mat-menu-item>
                              <mat-icon>reorder</mat-icon>
                              <span>Re-order</span>
                            </button>
                        </mat-menu>
                    </mat-toolbar-row>
                </mat-toolbar>               

                <mat-card>
                    <mat-selection-list  [multiple]="false">
                        <mat-list-option *ngFor="let lc of learningContent">
                            <div class="title">{{lc.title}}</div>
                            <div class="description">{{lc.description}}</div>
                        </mat-list-option> 
                    </mat-selection-list>
                </mat-card>
            </div>
            <div fxLayout="column" fxFlex="50" fxLayoutAlign="top" fxFlexOffset="30px">  

                <mat-toolbar color="primary"> 
                    <mat-toolbar-row>
                        <span><h3>Questions</h3></span>
                        <ul class="summary">
                            <li>All ({{selected_LO.questions.total_questions}})</li>
                            <li>Exams ({{selected_LO.questions.total_exams}})</li>
                            <li>KC ({{selected_LO.questions.total_kc}})</li>
                            <li>CPE ({{selected_LO.questions.total_cpe}})</li>
                        </ul>
                        <span class="example-spacer"></span>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                              <mat-icon>reorder</mat-icon>
                              <span>Re-order</span> 
                            </button>
                        </mat-menu>
                    </mat-toolbar-row>
                </mat-toolbar>           
                <mat-card>
                    <mat-selection-list>
                        <mat-selection-list #shoes [multiple]="false">
                            <mat-list-option *ngFor="let q of questions">
                                <div class="title">{{q.title}}</div>
                                <div class="description">{{q.description}}</div>
                            </mat-list-option> 
                        </mat-selection-list>
                    </mat-selection-list>
                </mat-card>               
            </div>
        </div>

        
        
    </div>
</div>

