<div fxLayout="row" fxFlexFill fxLayoutAlign="start stretch">

    <div fxLayout="column" fxFlex="25" class="left-container">
        <div class="title">
            <h2>Learning outcomes ({{learningOutComes.length}})</h2>
            <button mat-raised-button color="primary" (click)="openAddLODialog()">Add </button>               
        </div>
        

         
        <mat-form-field class="example-full-width">
            <mat-label>Search Learning outcomes</mat-label>
            <input matInput placeholder=""> 
        </mat-form-field>

        <mat-selection-list #shoes [multiple]="false" *ngIf="!isAddLODialog">
            <mat-list-option *ngFor="let lo of learningOutComes; let i = index"  [ngClass]="{'active': i =='0'}"  (click)="viewLearningOutcomes(i)">
                {{lo.lo_title}}
            </mat-list-option>
        </mat-selection-list>

        <mat-selection-list #shoes [multiple]="false" *ngIf="isAddLODialog"> 
            <mat-list-option >{{LO_title}}</mat-list-option>
            <mat-list-option *ngFor="let lo_title of learningOutComesTitles; let i = index">
                {{lo_title}}
            </mat-list-option>
        </mat-selection-list>
        <!-- <p>
            Option selected: {{shoes.selectedOptions.selected[0]?.value}}
        </p> -->

    </div>

    <div fxFlex="75" class="right-container"> 
        <div class="lo-dialog-box" *ngIf="isAddLODialog">
            <div class="title">
                <h2>Learning outcome title</h2>
                <a href="javascript:void(0)" (click)="closeAddLODialog()">Close</a>
            </div>
            <div class="add-item">
                <mat-form-field class="example-full-width"> 
                    <mat-label>Search Learning outcomes</mat-label>
                    <input matInput placeholder="" [(ngModel)]="LO_title"> 
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="createNewLO()">Create</button>                   
            </div>
            
        </div>

        <div fxLayout="row" fxLayoutAlign="fxFlexFill" class="action-panel border-active" *ngIf="!isAddLODialog">
            <div fxFlex="75" fxLayoutAlign="start center">
                <h1 class="space-0">{{selected_LO.lo_title}}</h1>
            </div>
            <div fxFlex="25" fxLayoutAlign="end center" fxFlexOffset="20px">  
                <button mat-raised-button color="primary" (click)="openDialog()">Add learning content</button>               
                <!-- <mat-form-field appearance="fill">
                    <mat-label>Favorite food</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                </mat-form-field> -->
            </div>
        </div>


        <div fxLayout="row" fxLayoutAlign="fxFlexFill" class="body-content" *ngIf="!isAddLODialog">
            <div fxLayout="column" fxFlex="50" fxLayoutAlign="start top">               

                <mat-toolbar color="primary"> 
                    <mat-toolbar-row >
                        <span><h3>Learning Content</h3></span> 
                        <span class="example-spacer"></span>
                        <span class="inn">{{selected_LO.learning_content.learning_content_duration}}</span>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                              <mat-icon>visibility</mat-icon>
                              <span>Preview</span>
                            </button>
                            <button mat-menu-item>
                              <mat-icon>reorder</mat-icon>
                              <span>Re-order</span>
                            </button>
                        </mat-menu>
                    </mat-toolbar-row>
                </mat-toolbar>               

                <mat-card>
                    <mat-selection-list [multiple]="false">
                        <mat-list-option *ngFor="let lc of learningContent" (click)="openEditPopup()">
                            <div class="title">{{lc.title}}</div>
                            <div class="description">{{lc.description}}</div>
                        </mat-list-option> 
                    </mat-selection-list>
                </mat-card>
            </div>
            <div fxLayout="column" fxFlex="50" fxLayoutAlign="top" fxFlexOffset="30px">  

                <mat-toolbar color="primary"> 
                    <mat-toolbar-row>
                        <span><h3>Questions</h3></span>                        
                        <span class="example-spacer"></span>
                        <ul class="summary" class="inn">
                            <li>All ({{selected_LO.questions.total_questions}})</li>
                            <li>Exams ({{selected_LO.questions.total_exams}})</li>
                            <li>KC ({{selected_LO.questions.total_kc}})</li>
                            <li>CPE ({{selected_LO.questions.total_cpe}})</li>
                        </ul>
                        <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu2="matMenu">
                            <button mat-menu-item>
                              <mat-icon>reorder</mat-icon>
                              <span>Re-order</span> 
                            </button>
                        </mat-menu>
                    </mat-toolbar-row>
                </mat-toolbar>           
                <mat-card>
                    <mat-selection-list (click)="openQuestionPopup()">
                        <mat-selection-list #shoes [multiple]="false">
                            <mat-list-option *ngFor="let q of questions">
                                <div class="title">{{q.title}}</div>
                                <div class="description">{{q.description}}</div>
                            </mat-list-option> 
                        </mat-selection-list>
                    </mat-selection-list>
                </mat-card>               
            </div>
        </div>

        
        
    </div>
</div>

 