.example-ripple-container {
    cursor: pointer;
    text-align: center;  
    width: 300px;
    height: 300px;
    line-height: 300px;  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}
  

.template-grid {
    .example-card {
        border: 1px solid #ccc;
        margin-top: 2rem;
        cursor: pointer;
        height: 10rem;
        //transition: background-color .5s, transform .5s ease;
        .card-wrap {
            text-align: center;
            img {
                padding: 1rem 1rem 0;
                width: 100%;
            }

            .title {
                font-size: 1.2rem;
                font-weight: normal;
            }
        }
        // &:hover {
        //     background-color: #f1f1f1;
        //     transform: scale(1.08);
        // }
    }
}

.close-btn {
    float: right;
    margin: 0;
    padding: 0;

    .mat-icon {
        font-size: 30px;
        width: auto;
        height: auto;
    }
}

.popup-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #ccc;

    .titles {
        width: 60%;
    }

    .buttons {
        position: relative;
        padding-top: 3rem;
        
        button {
            margin-left: .8rem;
        }

        .close-btn {
            position: absolute;
            right: -1.5rem;
            top: -1.5rem; 
        }
    }
}


.badge {
    .mat-standard-chip {
        height: auto;

        p {
            margin: 0 0 0 5px;
            line-height: 1.3;
        }
    }
    
}







.example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
  
  .example-item {
    height: 50px;
  }