<div fxLayout="row" fxFlexFill fxLayoutAlign="start stretch">

    <div fxLayout="column" fxFlex="25" class="left-container"> 
        <div class="title">
            <h2>Bundles ({{bundleList.length}})</h2>
            <button mat-mini-fab color="primary" (click)="openAddBundlesDialog()">
                <mat-icon>add</mat-icon>
            </button>               
        </div>
         
        <mat-form-field class="example-full-width">
            <mat-label>Search Bundles</mat-label>
            <input matInput placeholder="">
        </mat-form-field>

        <mat-selection-list [multiple]="false" *ngIf="!isAddBundlesDialog && !isAddLessonsDialog">            
            <mat-list-option *ngFor="let bl of bundleList; let i = index" [ngClass]="{'active': i =='0'}" (click)="viewLearningOutcomes(i)" >{{bl.title}}</mat-list-option>         
        </mat-selection-list>

        <mat-selection-list [multiple]="false" *ngIf="isAddBundlesDialog || isAddLessonsDialog">      
            <mat-list-option *ngIf="!isAddLessonsDialog">{{Bundle_title}}</mat-list-option>      
            <mat-list-option *ngFor="let bl_title of bundleListTitles; let i = index" >{{bl_title}}</mat-list-option>         
        </mat-selection-list>

    </div>

    <div fxFlex="75" class="right-container"> 
        <div class="bundle-dialog-box" *ngIf="isAddBundlesDialog">

            <mat-card>
                <div class="title">
                    <h1>Create new bundle</h1>                                       
                </div>
                <div class="add-item">
                    <mat-form-field class="example-full-width"> 
                        <mat-label>Bundle title</mat-label>
                        <input matInput placeholder="" [(ngModel)]="Bundle_title"> 
                    </mat-form-field>    
                    
                    <mat-form-field appearance="fill">
                        <mat-label>Bundle description</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>

                    <div class="browse">  
                        <mat-label class="lbl">Bundle thumbnail</mat-label>
                        <button mat-stroked-button>Browse</button>
                    </div>    
                     
                    <button mat-raised-button color="primary" (click)="createNewBundle()">Create</button> &nbsp;&nbsp;
                    <button mat-raised-button (click)="closeAddBundlesDialog()">Close</button>
                    
                </div> 
            </mat-card>

        </div>   

        <div class="add-lessons-page" *ngIf="isAddLessonsDialog" >
            <div fxLayout="row" fxLayoutAlign="fxFlexFill" class="action-panel border-active">
                <div fxFlex="75" >
                    <ul>
                        <li><img src="https://live.intuittrainingplatform.com/filestore/ModuleFiles/539/thumb_icon.png?1592894348" title="" /></li>
                        <li>
                            <h1 class="space-0">{{newLessonsBundleTitle}}</h1>
                            <ul>
                                <li>Total lessons ({{selectedBundle.total_lessons}})</li>
                                <li>{{selectedBundle.duration}}</li>
                                <li>{{selectedBundle.cpe_credits}} CPE credits</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div fxFlex="25" fxLayoutAlign="end center" fxFlexOffset="20px">  
                    <button mat-raised-button><mat-icon>add_circle_outline</mat-icon> Add lesson</button> 
                    
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>reorder</mat-icon>
                          <span>Re-order lessons</span>
                        </button>
                        <button mat-menu-item (click)="openCPE()">
                            <mat-icon>settings_brightness</mat-icon>
                            <span>Configure CPE</span>
                        </button>
                        <button mat-menu-item (click)="openCopyUrl()">
                            <mat-icon>file_copy</mat-icon>
                            <span>Copy Bundle URL</span>
                        </button>
                        <button mat-menu-item >
                          <mat-icon>edit</mat-icon>
                          <span>Edit Bundle</span>
                        </button>                        
                        <button mat-menu-item (click)="openDialog()">
                            <mat-icon>delete</mat-icon>
                            <span>Delete Bundle</span>
                        </button>                    
                    </mat-menu>
                </div>  
            </div>

            <div class="bundle-dialog-box v2">
                <mat-card>
                    <div class="title">
                        <h2>Add a lesson for this bundle</h2> 
                    </div>
                    <div class="add-item">
                        <mat-form-field class="example-full-width"> 
                            <mat-label>Lesson title</mat-label>
                            <input matInput placeholder=""> 
                        </mat-form-field> 
                        
                        <button mat-raised-button color="primary">Create</button>&nbsp;&nbsp;
                        <button mat-raised-button (click)="closeAddLessonsBundlesDialog()">Close</button>   
                    </div> 
                </mat-card>                
            </div> 


        </div>

        <div fxLayout="row" fxLayoutAlign="fxFlexFill" class="action-panel border-active" *ngIf="!isAddBundlesDialog && !isAddLessonsDialog">
            <div fxFlex="75" >
                <ul>
                    <li><img src="https://live.intuittrainingplatform.com/filestore/ModuleFiles/539/thumb_icon.png?1592894348" title="" /></li>
                    <li>
                        <h1 class="space-0">{{selectedBundle.title}}</h1>
                        <ul>
                            <li>Total lessons ({{selectedBundle.total_lessons}})</li>
                            <li>{{selectedBundle.duration}}</li>
                            <li>{{selectedBundle.cpe_credits}} CPE credits</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div fxFlex="25" fxLayoutAlign="end center" fxFlexOffset="20px">  
                <button mat-raised-button><mat-icon>add_circle_outline</mat-icon> Add lesson</button> 

                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>reorder</mat-icon>
                      <span>Re-order lessons</span>
                    </button>
                    <button mat-menu-item (click)="openCPE()">
                        <mat-icon>settings_brightness</mat-icon>
                        <span>Configure CPE</span>
                    </button>
                    <button mat-menu-item (click)="openCopyUrl()">
                        <mat-icon>file_copy</mat-icon>
                        <span>Copy Bundle URL</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>Edit Bundle</span>
                    </button>
                    <button mat-menu-item (click)="openDialog()">
                        <mat-icon>delete</mat-icon>
                        <span>Delete Bundle</span>
                    </button>                    
                </mat-menu>
            </div>
        </div> 
        
        <div fxLayout="column" fxLayoutAlign="fxFlexFill" class="body-content" *ngIf="!isAddBundlesDialog && !isAddLessonsDialog">  
            
            <mat-accordion class="example-headers-align" multi>                   
                <mat-expansion-panel *ngFor="let sl of selectedLessonsList; let i = index" expanded>

                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="" class="unique-position">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>visibility</mat-icon>
                          <span>Preview Lesson</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>rate_review</mat-icon>
                            <span>Module Review</span>
                            <!-- <mat-slide-toggle></mat-slide-toggle>  -->
                        </button>
                        <button mat-menu-item (click)="openCopyUrl()">
                          <mat-icon>file_copy</mat-icon>
                          <span>Copy Lesson URL</span>
                        </button>
                        <button mat-menu-item (click)="openDialog()">
                            <mat-icon>delete</mat-icon>
                            <span>Delete Lesson</span>
                        </button>                    
                    </mat-menu>

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h2 class="space-0">{{sl.title}}</h2>
                        </mat-panel-title>
                        <mat-panel-description>
                            <!-- <mat-icon>account_circle</mat-icon> -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    
                    <mat-selection-list [multiple]="false">
                        <mat-list-option *ngFor="let lo of sl.learning_outcome; let i = index">                            
                            <ul>
                                <li>
                                    <h3 class="space-0">{{ lo.title }}</h3>
                                    <label>{{ lo.template }}</label>
                                </li>                                
                                <li>                                    
                                    <ul>                                       
                                        <li>{{ lo.duration }}</li> 
                                        <li>{{lo.additional_description}}</li>
                                    </ul>
                                </li>
                            </ul>
                        </mat-list-option> 
                    </mat-selection-list>

                    <mat-divider></mat-divider>

                    <br />                   
                    
                    <button mat-raised-button color="accent" (click)=toggleDisplay()><mat-icon>note_add</mat-icon> Include Learning outcome</button>
                    &nbsp;&nbsp;
                    <button mat-raised-button (click)=openContentTemplate()><mat-icon>note_add</mat-icon> Include Lesson specific content</button>

                </mat-expansion-panel>
            </mat-accordion>               
            
        </div>
    </div>
</div>





<!-- Side drawer -->
<div class="mat-drawer-transition">
    <div [hidden]="!isShow" class="mat-drawer" [ngClass]="isShow ? 'on' : ''">        
        <div class="inner">
            <div fxLayout="row" fxFlexFill>
                <div fxLayout="column">
                    <h1>Include Learning Outcomes</h1>
                    <h3>Business Performance</h3> 

                    <button mat-raised-button color="primary" (click)=toggleDisplay()>Include selected Learning Outcomes (5)</button>
 
                    <mat-selection-list>
                        <mat-selection-list>
                            <mat-list-option>
                                <div class="title">
                                    <h2 class="unique">Establish a potential client's QucikBooks Online and QuickBookd Self-Employed</h2>                                
                                </div>
                                <div class="description">
                                    <ul class="unique">
                                        <li>45 min</li>
                                        <li>Exam (3)</li>
                                        <li>CPE (2)</li>
                                    </ul>
                                </div>
                            </mat-list-option>
                            <mat-divider></mat-divider>
                            <mat-list-option>
                                <div class="title">
                                    <h2 class="unique">State the options to migrate clients from other accountancy...</h2>                                
                                </div>
                                <div class="description">
                                    <ul class="unique">
                                        <li>20 min</li>
                                        <li>Exam (2)</li>
                                        <li>CPE (1)</li>
                                    </ul>
                                </div>
                            </mat-list-option>
                        </mat-selection-list>
                    </mat-selection-list>

                </div>
            </div>
        </div>
    </div>
    <div [hidden]="!isShow" class="mat-drawer-backdrop" [ngClass]="isShow ? 'mat-drawer-shown' : ''" (click)=toggleDisplay()></div>
</div>