<div fxLayout="row" fxFlexFill fxLayoutAlign="start stretch">
    <div fxLayout="column" fxFlex="25" class="left-container">
        <h2>Bundles ({{bundleList.length}})</h2>
         
        <mat-form-field class="example-full-width">
            <mat-label>Search Bundles</mat-label>
            <input matInput placeholder="">
        </mat-form-field>

        <mat-selection-list [multiple]="false">            
            <mat-list-option *ngFor="let bl of bundleList; let i = index" (click)="viewLearningOutcomes(i)" >{{bl.title}}</mat-list-option>         
        </mat-selection-list>

    </div>
    <div fxFlex="75" class="right-container"> 

        <div fxLayout="row" fxLayoutAlign="fxFlexFill" class="action-panel border-active">
            <div fxFlex="75" >
                <h1 class="space-0">{{selectedBundle.title}}</h1>
                <ul>
                    <li>Total lessons ({{selectedBundle.total_lessons}})</li>
                    <li>{{selectedBundle.duration}}</li>
                    <li>{{selectedBundle.cpe_credits}} CPE credits</li>
                </ul>
            </div>
            <div fxFlex="25" fxLayoutAlign="end center" fxFlexOffset="20px">  
                <button mat-raised-button color="primary">Add lesson</button> 

                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>reorder</mat-icon>
                      <span>Re-order lessons</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>settings_brightness</mat-icon>
                        <span>Configure CPE</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>Edit Bundle</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Delete Bundle</span>
                    </button>                    
                </mat-menu>
            </div>
        </div>


        <div fxLayout="column" fxLayoutAlign="fxFlexFill" class="body-content">                     
                    
            <mat-accordion class="example-headers-align" multi>                   
                <mat-expansion-panel *ngFor="let sl of selectedLessonsList; let i = index" expanded>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h2 class="space-0">{{sl.title}}</h2>
                        </mat-panel-title>
                        <mat-panel-description>
                            <!-- <mat-icon>account_circle</mat-icon> -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    
                    <mat-selection-list [multiple]="false">
                        <mat-list-option *ngFor="let lo of sl.learning_outcome; let i = index">                            
                            <ul>
                                <li>
                                    <h2 class="space-0">{{ lo.title }}</h2>
                                    <label>{{ lo.template }}</label>
                                </li>                                
                                <li>                                    
                                    <ul>      
                                        <li>{{ lo.type }}</li>                                  
                                        <li>{{ lo.duration }}</li> 
                                        <li>{{lo.additional_description}}</li>
                                    </ul>
                                </li>
                            </ul>
                        </mat-list-option> 
                    </mat-selection-list>

                    <mat-divider></mat-divider>

                    <br />                   
                    
                    <button mat-raised-button (click)=toggleDisplay()><mat-icon>note_add</mat-icon> Include Learning outcome</button>

                </mat-expansion-panel>
            </mat-accordion>               
            
        </div>
    </div>
</div>


<!-- Side drawer -->
<div class="mat-drawer-transition">
    <div [hidden]="!isShow" class="mat-drawer" [ngClass]="isShow ? 'on' : ''"> 
        as das dsa dasdas dasd
    </div>
    <div [hidden]="!isShow" class="mat-drawer-backdrop" [ngClass]="isShow ? 'mat-drawer-shown' : ''" (click)=toggleDisplay()></div>
</div>