.title {
    display: flex;

    h2 {
        margin-bottom: 0;
    }

    button {
        margin-left: auto;
    }
}

.mat-accordion>.mat-expansion-panel-spacing:first-child, 
.mat-accordion>*:first-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
    margin-top: 0 !important;
}

.right-container {
    .title {
      h1 {
        padding-bottom: 1rem; 
      }    
    }
    .add-item {
      .mat-form-field {
        font-size: 18px !important;
      }
      .mat-form-field {
          display: block;
      }
    }
  }

  .bundle-dialog-box.v2 {
      padding: 2rem 0;
      h2 {
          padding-bottom: 1rem;
      }
  }

  .mat-drawer {
    ul.unique {
      li {
        flex: none !important;
        padding-right: 1rem;
        &:first-child {
          padding-right: 2rem;
        }
      }
    }
    .title {
      h2.unique {
        margin-right: 2rem;
      }
    }
  }
  

  .unique-position {
    position: absolute !important;
    right: 3rem !important;
    top: .6rem !important;
  }

  .mat-accordion {
    .mat-expansion-panel {
      margin-bottom: 2rem;
    }
  }

  .browse {
    margin-bottom: 3rem;
    .lbl {
      font-size: 18px;
      opacity: .6;
      padding-right: 1.5rem;
    }   

  }
 
  .remove-lo {
    position: absolute;
    right: 1rem;
    font-size: 20px !important;
    width: 20px !important;
    height: 20px !important;
  }

  .special-head {
    .mat-expansion-panel-header-title {
      flex-grow: unset;
      position: relative;
    }
  }

  .hover-add {
    button {
      position: absolute;
      right: -2.5rem;
      top: -.6rem;
      visibility: hidden;
      .mat-icon {
        font-size: 20px;
      }
    }  
    
    &:hover {
      button {
        visibility: visible;
      }
    }
  }


  .presentation-lo-adjust {
    .left-container {
      display: none !important;
    }
    .right-container {
      max-width: 100% !important;
      background-color: white !important;
      padding: 0 !important;
      .mat-toolbar {
        background-color: white !important;
      }
    }
    
  }