.title {
    //display: flex;

    h2 {
        margin-bottom: 0;
        display: inline-block;
    }

    button {
      margin-left: 0;
      float: right;
      display: inline-block;
    }
}

.mat-accordion>.mat-expansion-panel-spacing:first-child, 
.mat-accordion>*:first-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
    margin-top: 0 !important;
}

.right-container {
    .title {
      h1 {
        padding-bottom: 1rem; 
      }    
    }
    .add-item {
      .mat-form-field {
        font-size: 18px !important;
      }
      .mat-form-field {
          display: block;
      }
    }
  }

  .bundle-dialog-box.v2 {
      padding: 2rem 0;
      h2 {
          padding-bottom: 1rem;
      }
  }

  .mat-drawer {
    ul.unique {
      li {
        flex: none !important;
        padding-right: 1rem;
        &:first-child {
          padding-right: 2rem;
        }
      }
    }
    .title {
      h2.unique {
        margin-right: 2rem;
      }
    }
  }
  

  .unique-position {
    position: absolute !important;
    right: 3rem !important;
    top: .6rem !important;
  }

  .mat-accordion {
    .mat-expansion-panel {
      margin-bottom: 2rem;
    }
  }

  .browse {
    margin-bottom: 3rem;
    .lbl {
      font-size: 18px;
      opacity: .6;
      padding-right: 1.5rem;
    }   

  }
 
  .remove-lo {
    position: absolute;
    right: 1rem;
    font-size: 20px !important;
    width: 20px !important;
    height: 20px !important;
  }

  .special-head {
    .mat-expansion-panel-header-title {
      flex-grow: unset;
      position: relative;
    }
  }

  .hover-add {
    button {
      position: absolute;
      right: -2.5rem;
      top: -.6rem;
      visibility: hidden;
      .mat-icon {
        font-size: 20px;
      }
    }  
    
    &:hover {
      button {
        visibility: visible;
      }
    }
  }


  .presentation-lo-adjust {
    .left-container {
      display: none !important;
    }
    .right-container {
      max-width: 100% !important;
      background-color: white !important;
      padding: 0 !important;
      .mat-toolbar {
        background-color: white !important;
      }
    }

    .close-btn{
      display: block; 

      &.close-icon{
        position: absolute;
        margin-top: -27px;
        margin-left: 0;
      }
    }
    
    .add-content{
      display: none;
    }
  }

  .chart-holder {
    position: relative;
    .tooltip {
        position: absolute;
        top: -95%;
        right: 5%;
        background-color: #333333;
        padding: .5rem 1rem;
        color: #ffffff;
        border-radius: 5px;
        width: 12rem;
        font-size: .7rem;
        visibility: hidden;
        opacity: 0;
        transition: all ease 0.5s;
        dl {
           display: flex;
           align-items: center;
           padding-bottom: .5rem;
           margin: 0;
           &:last-child {
             padding-bottom: 0;
           }
           dt,
           dd {
             flex: 1 0;
           }
           dd {
             margin: 0;
             text-align: right;
           }
        }
        .mat-icon {
          position: absolute;
          bottom: -1px;
          color: #333333;
          left: 0;
          right: 0;
          margin: 0 auto;
          font-size: 3rem;
          width: 3rem;
        }
    }
    &:hover {
      .tooltip {
        visibility: visible;
        opacity: 1;
        top: -85%;
      }      
    }
  }

  .sticky{
    .left-container{
      position: fixed;
      top: 0;
      height: 100%;
    }
  
    .right-container{
      margin-left: auto;
    }
  }