/* You can add global styles to this file, and also import other style files */
@import '~overlayscrollbars/css/OverlayScrollbars.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ul {
    padding: 0;
    margin: 0;
    li { list-style-type: none; }
}
p strong { font-weight: 500; }
.mat-flat-button.mat-primary, 
.mat-raised-button.mat-primary, 
.mat-fab.mat-primary, 
.mat-mini-fab.mat-primary,
.mat-flat-button.mat-accent, 
.mat-raised-button.mat-accent, 
.mat-fab.mat-accent, 
.mat-mini-fab.mat-accent,
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb,
.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, 
.mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-radio-button.mat-accent .mat-radio-inner-circle, 
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), 
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, 
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #2ca01c;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(44,160,28,.54);
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #2ca01c;
}

.mat-raised-button { min-width: auto !important; }

.mat-toolbar-row, .mat-toolbar-single-row { padding-left: 0 !important; }

.mat-h2, 
.mat-title, 
.mat-typography h2 {
    font-size: 18px;
    line-height: 24px;
}
.mat-toolbar, 
.mat-toolbar h1, 
.mat-toolbar h2, 
.mat-toolbar h3, 
.mat-toolbar h4, 
.mat-toolbar h5, 
.mat-toolbar h6 {
    font-size: 16px;
    line-height: 20px;    
}
.mat-toolbar-row, 
.mat-toolbar-single-row {    
    &.pad-zero {
        padding-right: 0 !important;
    }
}
.mat-list-base {
    padding-top: 0 !important;
}
.mat-toolbar-multiple-rows {
    border-radius: 4px 4px 0 0;
}
.mat-card {
    border-radius: 0 0 4px 4px;
    min-height: calc(100% - 95px);
}
.mat-card-title {
    font-size: 1rem !important;
}
.inn {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    display: flex;
    li {
        padding-left: .6rem;
    }
}
.mat-list-base .mat-list-item .mat-list-text .title {
    font-size: 18px;
    font-weight: 500;
}
.mat-list-base .mat-list-item .mat-list-text .description {
    font-size: 14px;
    padding-top: .2rem;
    opacity: .7;
}
.mat-list-base .mat-list-item .mat-list-text {
    //margin-right: 2rem;
    label,
    ul {
        font-size: 14px;
    }
} 

.left-container {
    max-width: 25%;
    @media only screen and (max-width: 1440px) { 
        max-width: 320px !important;
    }
    min-height: calc(100vh - 6.4rem); 
    background-color: #393A3D;
    color: #ffffff;
    position: absolute;
    height: 100%;

    .scroll-panel{
        display: flex;
        height: 100%;
        padding: 1rem;
    }
    
    a,
    .mat-list-base .mat-list-option {
        color: #ffffff;
        font-size: 14px;
        line-height: 18px;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: rgba(255,255,255,.42);
    }
    .mat-form-field-ripple {
        background-color: rgba(255,255,255,.87);
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
        color: rgba(255,255,255,.54);
    }
    .mat-input-element {
        caret-color: #ffffff;
    }  

    .mat-form-field {
        display: block;
    }
    
    // .mat-list-base .mat-list-option {
    //     &:first-child {
    //         &.active {
    //             background-color: red;
    //         }
    //     }
    // }
}
.right-container {
    background-color: #f7f7f7;
    padding: 1rem 2rem;
    margin-left: auto;
}

.space-0 {
    margin: 0 !important;
}

.action-panel {
    padding-bottom: 1rem;
    &.border-active {
        border-bottom: 1px solid #ccc;
    }    
    ul {
        display: flex;
        align-items: center;
        li {
            padding-right: 1rem;
            h1 {
                padding-bottom: .5rem;
            }
        }        
    }
}

.body-content {
    padding: 2rem 0;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-expansion-panel-header-title, 
.mat-expansion-panel-header-description {
    flex-direction: column;
}

.mat-expansion-panel-spacing {
    margin: 30px 0 !important;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: flex-end; 
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-content {
    align-items: center;
}

.mat-list-base .mat-list-item, 
.mat-list-base .mat-list-option {
    height: auto !important;
    display: flex !important;    
    min-height: 48px;

    .mat-list-item-content {
        width: 100%;
        .mat-list-text {
            padding-right: 0 !important;
        }
        ul {
            display: flex;
            align-items: center;
            li {
                //width: 50%;
                flex: 1;
                &:first-child {
                    //padding-right: 2rem;
                    flex: 2;
                }
                ul {
                    padding: 0;
                    li {
                        //width: auto;
                        padding-right: 2rem;
                        flex: 1;
                        &:first-child {
                            flex: 1;
                        }
                    }
                }
                // flex: 1 1 0;               
                // &:first-child {
                //     flex: 2 1 0;
                // }
                // ul {
                //     padding: 0;
                //     li {
                //         &:first-child {
                //             flex: 1 1 0;
                //         }
                //     }
                // }
            }
        }
        
    }
}

// .mat-expansion-panel {
//     margin-top: 16px !important;
//     &:first-child {
//         margin-top: 0 !important;
//     }
// }

.mat-expansion-panel-header {
    background-color: rgba(0,0,0,.04);
    border: 1px solid white;
    //color: #ffffff;    
    border-radius: 4px !important;
    &.mat-expanded {
        border-radius: 4px 4px 0 0 !important;
    }    
}

.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), 
.mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), 
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]),
.mat-expansion-panel-header.mat-expanded:focus, 
.mat-expansion-panel-header.mat-expanded:hover {
    //background-color: #3f51b5 !important;
    background-color: rgba(0,0,0,.04) !important;
}
.mat-list-base .mat-list-item .mat-list-item-content-reverse, 
.mat-list-base .mat-list-option .mat-list-item-content-reverse {
    padding: 10px 16px !important;
}
.mat-expansion-panel-body {
    padding: 16px !important;
    h3 {
        //color: #ffffff;
        font-size: 16px;
        font-weight: 500;
    }
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }


.mat-drawer-backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: block;
    z-index: 3;
    visibility: hidden;
}

.mat-drawer-transition .mat-drawer-backdrop {
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-property: background-color, visibility;
}
.mat-drawer-backdrop.mat-drawer-shown {
    visibility: visible;
    background-color: rgba(0,0,0,.6);
}

.mat-drawer {
    position: fixed;
    z-index: 4;
    display: block;
    top: 0;
    bottom: 0; 
    outline: 0;
    overflow-y: auto;
    background-color: #ffffff;
    visibility: hidden;
    box-shadow: none;
    width: 30rem;
    left: 100%;    
    transform: translate(0,0);
    .inner {
        padding: 16px;
        h1 {
            margin-bottom: 0;            
        }
        h2 {
            font-size: 16px;
            line-height: 22px;
        }
        h3 {
            font-size: 14px;
        }
        .mat-list-base {
            margin: .5rem 0;
        }
        
    }
} 

.mat-drawer.on {
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);    
    visibility: visible;
    transform: translate(-100%,0);
}

.unique-modal {
    h1 {
        border-bottom: 1px solid #ccc;
        padding-bottom: .5rem;
    }
    .mat-dialog-actions {
        min-height: 75px;
    }
}

.default-text .mat-card {
    display: flex;
    align-items: center;
    img {
        width: 14rem;
        margin-right: 3rem;
    }
    h1 {
        font-size: 1.8rem;
        font-weight: 500;
    }
    p {
        line-height: 3rem;
        line-height: 1.6rem;
        font-size: .9rem;
    }
}

.example-button {
    margin-top: 16px;
  }
  
  .example-tooltip-red {
    background: #f44336;
  }

  
.ctrl-spec {
    &.mat-form-field-appearance-fill .mat-form-field-infix {
        border-top: 0;
    }
    &.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
        transform: none;
    }
}

.mat-expansion-panel-header[aria-disabled=true] {
    color: rgba(0,0,0,1);
}

.move-section-active {
    .indicator-section-break {
        display: none !important;
    }
    .exams-lo-holder .mat-list-item {
        border-bottom: 0 !important;
    }
}

.add-content{
    display: block;
    padding: 0 !important;
  
    .drop-down-button {
      border-left: 1px solid #ccc;
      margin-left: 10px;
      padding-left: .3rem;
      padding-right: .3rem;
    }
  
    .drop-down-button {
      .mat-icon { 
        vertical-align: middle;
        height: 27px;
        width: 30px;
      }    
    } 
    &.white-version {
        .mat-button-toggle-appearance-standard {
            color: rgba(255,255,255,1) !important;
        }
    }
  }
  
  .mat-button-toggle-standalone.mat-button-toggle-appearance-standard, 
  .mat-button-toggle-group-appearance-standard {
        border: 0;
  }
  .mat-button-toggle {
      background-color: transparent;
      &:hover,
      &.mat-button-toggle-checked {
        background-color: transparent;
      }   
      .mat-button-toggle-focus-overlay {
            border: 0;
            display: none;
      }   
  }
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
      padding: 0 !important;
      line-height: 38px;
  }
  .mat-button-toggle-appearance-standard .mat-button-toggle-focus-overlay {
    background-color: transparent;    
  }
  .cdk-program-focused .mat-button-toggle-group {
      background-color: white !important;
  }

//   .mat-button-focus-overlay { background-color: rgba(255,255,255,0) !important; }
//   .white-version .mat-button-focus-overlay { background-color: rgba(44,160,28,1) !important; }
  .cdk-program-focused { display: none !important; }