
<div fxLayout="row" fxFlexFill fxLayoutAlign="start stretch">
    <div fxFlex="100" class="right-container">

        <div fxLayout="row" fxLayoutAlign="fxFlexFill" class="action-panel border-active">
            <div fxFlex="75">
                <h1 class="space-0">Certification Exam</h1>
                <ul>
                    <li>Learning outcomes (5)</li>
                    <li>Total questions (9)</li>
                </ul>
            </div>
            <div fxFlex="25" fxLayoutAlign="end center" fxFlexOffset="20px">
                <ul>
                    <!-- <li style="padding-right: 2rem;">                
                        <mat-form-field appearance="fill" style="height:52px;">     
                            <mat-label>Enabled</mat-label>  
                            <mat-select [(value)]="selected" placeholder="Mode">
                                <mat-option value="yes">Yes</mat-option>
                                <mat-option value="no">No</mat-option>
                              </mat-select>
                        </mat-form-field>
                    </li> -->
                    <li><button mat-raised-button style="width: 100px;" disabled>Save</button></li>
                    <li>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>move_to_inbox</mat-icon>
                                <span>Move Learning outcomes</span>
                            </button>   
                            <button mat-menu-item>
                                <mat-icon>settings</mat-icon>
                                <span>Exam settings</span>
                            </button>               
                        </mat-menu>
                    </li>
                </ul>                
            </div>
        </div>

        <mat-toolbar color="primary" class="LO-move-indicator" stickyThing>
            <mat-toolbar-row>
                <span class="info">Select Learning outcome you want to move to section. Use menu to pick a section once the LO is selected.</span>
                <span class="example-spacer"></span>
                <span>0 Selected</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <label class="lbl-help">Admin could hover over rows and find <mat-icon>add_circle_outline</mat-icon> icon to split learning outcomes to multiple sections.</label>

        <router-outlet></router-outlet>
        

        
    </div>
</div>