<div fxLayout="row" fxFlexFill fxLayoutAlign="start stretch">
    <div fxFlex="100" class="right-container">

        <div fxLayout="row" fxLayoutAlign="fxFlexFill" class="action-panel border-active">
            <div fxFlex="75">
                <h1 class="space-0">Certification Exam</h1>
                <ul>
                    <li>Learning outcomes (5)</li>
                    <li>Total questions (9)</li>
                </ul>
            </div>
            <div fxFlex="25" fxLayoutAlign="end center" fxFlexOffset="20px">
                <ul>
                    <!-- <li style="padding-right: 2rem;">                
                        <mat-form-field appearance="fill" style="height:52px;">     
                            <mat-label>Enabled</mat-label>  
                            <mat-select [(value)]="selected" placeholder="Mode">
                                <mat-option value="yes">Yes</mat-option>
                                <mat-option value="no">No</mat-option>
                              </mat-select>
                        </mat-form-field>
                    </li> -->
                    <li><button mat-raised-button style="width: 100px;" disabled>Save</button></li>
                    <li>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>move_to_inbox</mat-icon>
                                <span>Move Learning outcomes</span>
                            </button>   
                            <button mat-menu-item>
                                <mat-icon>settings</mat-icon>
                                <span>Exam settings</span>
                            </button>               
                        </mat-menu>
                    </li>
                </ul>                
            </div>
        </div>

        <mat-toolbar color="primary" class="LO-move-indicator" stickyThing>
            <mat-toolbar-row>
                <span class="info">Select Learning outcome you want to move to section. Use menu to pick a section once the LO is selected.</span>
                <span class="example-spacer"></span>
                <span>0 Selected</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <label class="lbl-help">Admin could hover over rows and find <mat-icon>add_circle_outline</mat-icon> icon to split learning outcomes to multiple sections.</label>


        <div fxLayout="row" fxLayoutAlign="fxFlexFill" class="action-panel">
            <div fxFlex="80">

                <mat-accordion class="example-headers-align exams-lo-holder" multi>                   
                    <mat-expansion-panel style="overflow: visible;" expanded>
                        
                        <mat-expansion-panel-header class="special-head">
                            <mat-panel-title class="hover-add">
                                <h2 class="space-0">Section 1</h2>
                            </mat-panel-title>                    
                        </mat-expansion-panel-header>
        
                        <mat-list class="table-header" dense>
                            <mat-list-item> 
                                <table>
                                    <thead>
                                        <tr>
                                            <td class="col-1">Learning Outcomes</td>
                                            <td>Questions</td>
                                            <td>No of questions shown</td>
                                        </tr>
                                    </thead>
                                </table>
                            </mat-list-item>
                        </mat-list>
                        
                        <mat-selection-list [multiple]="false">
                            <mat-list-option (click)="ViewLO()">     
                                <table>    
                                        <tr>
                                            <td class="col-1">Establish a potential client's QuickBooks Online and QuickBooks Self-Employed needs</td>
                                            <td>4</td>
                                            <td>
                                                <mat-form-field appearance="fill" style="max-width:120px; height:52px;" (click)="onEvent($event)">  
                                                    <mat-select [(value)]="selected">
                                                        <mat-option value="yes">1</mat-option>
                                                        <mat-option value="no">2</mat-option>
                                                        <mat-option value="no">3</mat-option>
                                                        <mat-option value="no">4</mat-option>
                                                        <mat-option value="no">5</mat-option>
                                                        <mat-option value="no">6</mat-option>
                                                        <mat-option value="no">7</mat-option>
                                                        <mat-option value="no">8</mat-option>
                                                      </mat-select>
                                                </mat-form-field>  
                                                
                                                <button mat-icon-button [matMenuTriggerFor]="menu3" aria-label="Example icon-button with a menu" (click)="onEvent($event)">
                                                    <mat-icon>more_horiz</mat-icon>
                                                </button>
                                                <mat-menu #menu3="matMenu">
                                                    <span class="sub-title">Move to:</span>
                                                    <button mat-menu-item>
                                                        <span>Section 1</span>
                                                    </button>
                                                    <button mat-menu-item>
                                                        <span>Section 2</span>
                                                    </button>
                                                </mat-menu>
                                            </td>
                                        </tr>
                                </table> 
                                <div class="indicator-section-break"(click)="onEvent($event)"><div><mat-icon>add_circle_outline</mat-icon> Insert section break here</div></div>
                            </mat-list-option> 
                            <mat-list-option (click)="ViewLO()">     
                                <table>    
                                        <tr>
                                            <td class="col-1">Recognize how to create bank feeds to QuickBooks Online</td>
                                            <td>4</td>
                                            <td>
                                                <mat-form-field appearance="fill" style="max-width:120px; height:52px;" (click)="onEvent($event)">  
                                                    <mat-select [(value)]="selected">
                                                        <mat-option value="yes">1</mat-option>
                                                        <mat-option value="no">2</mat-option>
                                                        <mat-option value="no">3</mat-option>
                                                        <mat-option value="no">4</mat-option>
                                                        <mat-option value="no">5</mat-option>
                                                        <mat-option value="no">6</mat-option>
                                                        <mat-option value="no">7</mat-option>
                                                        <mat-option value="no">8</mat-option>
                                                      </mat-select>
                                                </mat-form-field>   
                                            </td>
                                        </tr>
                                </table> 
                                <div class="indicator-section-break"(click)="onEvent($event)"><div><mat-icon>add_circle_outline</mat-icon> Insert section break here</div></div>
                            </mat-list-option> 
                            <mat-list-option (click)="ViewLO()">     
                                <table>    
                                        <tr>
                                            <td class="col-1">Establish a potential client's QuickBooks Online and QuickBooks Self-Employed needs</td>
                                            <td>4</td>
                                            <td>
                                                <mat-form-field appearance="fill" style="max-width:120px; height:52px;" (click)="onEvent($event)">  
                                                    <mat-select [(value)]="selected">
                                                        <mat-option value="yes">1</mat-option>
                                                        <mat-option value="no">2</mat-option>
                                                        <mat-option value="no">3</mat-option>
                                                        <mat-option value="no">4</mat-option>
                                                        <mat-option value="no">5</mat-option>
                                                        <mat-option value="no">6</mat-option>
                                                        <mat-option value="no">7</mat-option>
                                                        <mat-option value="no">8</mat-option>
                                                      </mat-select>
                                                </mat-form-field>   
                                            </td>
                                        </tr>
                                </table> 
                                <div class="indicator-section-break"(click)="onEvent($event)"><div><mat-icon>add_circle_outline</mat-icon> Insert section break here</div></div>
                            </mat-list-option> 
                            <mat-list-option (click)="ViewLO()">     
                                <table>    
                                        <tr>
                                            <td class="col-1">LO 1</td>
                                            <td>4</td>
                                            <td>
                                                <mat-form-field appearance="fill" style="max-width:120px; height:52px;" (click)="onEvent($event)">  
                                                    <mat-select [(value)]="selected">
                                                        <mat-option value="yes">1</mat-option>
                                                        <mat-option value="no">2</mat-option>
                                                        <mat-option value="no">3</mat-option>
                                                        <mat-option value="no">4</mat-option>
                                                        <mat-option value="no">5</mat-option>
                                                        <mat-option value="no">6</mat-option>
                                                        <mat-option value="no">7</mat-option>
                                                        <mat-option value="no">8</mat-option>
                                                      </mat-select>
                                                </mat-form-field>   
                                            </td>
                                        </tr>
                                </table> 
                                <div class="indicator-section-break"(click)="onEvent($event)"><div><mat-icon>add_circle_outline</mat-icon> Insert section break here</div></div>
                            </mat-list-option> 
                            <mat-list-option (click)="ViewLO()">     
                                <table>    
                                        <tr>
                                            <td class="col-1">LO 1</td>
                                            <td>4</td>
                                            <td>
                                                <mat-form-field appearance="fill" style="max-width:120px; height:52px;" (click)="onEvent($event)">  
                                                    <mat-select [(value)]="selected">
                                                        <mat-option value="yes">1</mat-option>
                                                        <mat-option value="no">2</mat-option>
                                                        <mat-option value="no">3</mat-option>
                                                        <mat-option value="no">4</mat-option>
                                                        <mat-option value="no">5</mat-option>
                                                        <mat-option value="no">6</mat-option>
                                                        <mat-option value="no">7</mat-option>
                                                        <mat-option value="no">8</mat-option>
                                                      </mat-select>
                                                </mat-form-field>   
                                            </td>
                                        </tr>
                                </table> 
                                <div class="indicator-section-break"(click)="onEvent($event)"><div><mat-icon>add_circle_outline</mat-icon> Insert section break here</div></div>
                            </mat-list-option> 
                        </mat-selection-list>              
        
                    </mat-expansion-panel>
                </mat-accordion> 
                               
            </div>
        </div>

        
    </div>
</div>