.alert {
    position: relative;
    padding: 1rem 1.25rem;
    margin: 50px auto 0 25px;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    width: 90%;

    p {
        font-weight: 100;
        font-size: 1.5rem;
        margin: 0;
        display: flex;
        align-items: center;

        .mat-icon {
            margin-right: 10px; 
        }
    }
}

.action-panel h1 {
    padding-bottom: 0.5rem;
}
.lbl-help {
    text-align: right;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    .mat-icon {
        font-size: 1.2rem;
        padding-top: .3rem;
        padding-right: .3rem;
    }
}


.exams-lo-holder {
    table {
        width: 100%;
        tr {
            display: flex;
            align-items: center;
            td {
                flex: 1 1 0;
                &.col-1 {
                    flex: 2 1 0;
                    padding-right: 3rem;
                }
            }
        }        
    }
    .mat-form-field-appearance-fill .mat-form-field-infix {
        border-top: 0;
    }
    .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
        transform: none;
    }

    .indicator-section-break {
        position: absolute; 
        height: 100%;
        top: 0;
        right: -15rem;
        display: flex;
        align-items: center;
        visibility: hidden;
        transition: all ease .5;
        color: #3f51b5; 
        div {
            margin-left: 3rem;
            display: flex;
            align-items: center;
        }
        .mat-icon {
            padding-right: .5rem;
        }
        &:after {
            border-bottom: 1px dashed #3f51b5;
            content: '';
            position: absolute;
            bottom: -1px;
            width: 100%;
        }
    }

    .mat-list-item {
        border-bottom: 1px solid #ccc;
        &:hover {
            border-bottom: 1px dashed #3f51b5;
            .indicator-section-break {
                visibility: visible;
            }
        }        
    }

    .table-header {
        .mat-list-item {
            &:hover {
                border-bottom: 1px solid #ccc;
            }
        }
    }    
}

.LO-move-indicator {
    &.mat-toolbar-multiple-rows {
        border-radius: 0 0 4px 4px; 
        min-height: 50px;
    }
    .mat-toolbar-row, .mat-toolbar-single-row {
        height: 50px;
        padding-left: 16px !important;
    }
    span.info {
        font-size: .8rem;
        font-weight: normal;
    }
    &.is-sticky {
        z-index: 1;
    }
}

.sub-title {
    font-weight: 500;
    padding: 1rem 0 .5rem 1rem;
}

.sticky{
    position: sticky;
    top: 0;
    z-index: 100;
}